/* cont nav*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 70px; 
  padding: 0 4rem; 
  
  /* IMPORTANTE: position fixed hace que el nav viaje con vos al bajar */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  
  box-sizing: border-box;
  z-index: 999;
  font-family: 'Arial', sans-serif;
  
  /* Agregamos transform para la animación de subir y bajar */
  transition: background-color 0.3s ease-in-out, transform 0.4s ease;
}

.nav-transparent {
  background-color: rgba(69, 69, 69, 0.732);
  /* En la home, lo dejamos arriba del todo (absolute) */
  position: absolute; 
}

.nav-solid {
  background-color: rgb(99, 97, 97);
}

.navbar:hover {
  background-color: #373737fc;
}

/* CLASE NUEVA: Empuja el menú hacia arriba para esconderlo */
.nav-hidden {
  transform: translateY(-100%);
}

/* grupo logo, titulo */
.brand-group {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 15px; 
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 55px; 
  height: 55px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px; 
}

.brand-text .title {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.1;
}

.brand-text .subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: #ffffffe8;
  margin-top: 2px;
}

/*  grupo links derecho*/
.nav-right {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 40px; 
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.95rem;
  font-weight: 500;
  position: relative; 
  padding-bottom: 2px; 
  transition: color 0.2s;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #fbfafa;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #ffffff;
}

/* btn de idiomas */
.lang-switcher {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 2px;
}

.lang-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #a7a7a7; 
  font-size: 0.7rem;
  font-weight: 700;
  font-family: 'Arial', sans-serif;
  padding: 0;
  transition: color 0.2s;
}

.lang-btn:hover {
  color: #111111;
}

.lang-btn.active {
  color: #ffffff; 
}

.lang-separator {
  font-size: 0.75rem;
  color: #888;
  cursor: default;
}